.data-table {
  background-color: white;
  width: 96%;
  margin: 3rem auto;
  border-radius: 10px;

  h2 {
    color: green;
  }

  .table thead {
    font-weight: bold;
    th {
      vertical-align: top;
      border-bottom: none;
    }
    th, td {
      border-top: none;
    }
  }
}

.tableFixHead {
  border-top: 1px #dee2e6 solid;
  tbody {
    display: block;
    height:40vh;
    overflow-y:scroll;
  }
}
table thead,
tbody tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}
table tr {
  td:nth-child(2) {
    width: 20%;
  }

  td:nth-child(3) {
    width:11%;
  }

  td:nth-child(4) {
    width: 27%;
  }

 
}
td+td {
  width: auto;
}
// table thead {
//     width: calc(100% - 1em)
// }


@media (min-width: 1980px) {
  .tableFixHead tbody {
    height:50vh;
  }
  thead {
    font-size: 1.2rem;
  }
}

