<div class="container-fluid px-0">
  <app-loading></app-loading>
  <nav class="navbar text-white bg-primary p-3">
    <h1>Logo</h1>
    <div class="my-1">
      <p class="mb-0">User</p>
    </div>
  </nav>
  <div style="display:flex;" *ngIf="retryButton">
    <button class="btn btn-primary btn-lg mx-auto m-5" (click)="reloadData()">Retry</button>
  </div>
  <div *ngIf="lendersData?.length" class="table-responsive data-table">
    <h2 class="px-5 my-4 ml-1">Lender Maintenance</h2>
    <div class="px-5 pt-4 tableFixHead">
      <table class="table table-striped table-hover mb-5">
        <thead>
          <tr>
            <th>Bank Code</th>
            <td>Display Name</td>
            <td>Type</td>
            <td class="text-center">Commission
              <div class="row text-left pt-3">
                <span class="col">Upfront</span>
                <span class="col">Trail High</span>
                <span class="col">Trail Low</span>
              </div>
            </td>
            <td>Balance Multiplier</td>
            <td>Active</td>
            <td>Hide</td>
            <td>Edit</td>
          </tr>
        </thead>
        <tbody class="datatable-body shadow">
          <tr *ngFor="let item of lendersData">
            <th>{{item.code}}</th>
            <td>{{item.name}}</td>
            <td>{{item.type}}</td>
            <td>
              <div class="row">
                <span class="col">%{{item.upfont_commission}}</span>
                <span class="col">%{{item.high_trail_commission}}</span>
                <span class="col">%{{item.low_trail_commission}}</span>
              </div>
            </td>
            <td>{{item.balance_multiplier}}</td>
            <td>
              <input type="checkbox" [checked]="item.is_active" disabled>
            </td>
            <td>
              <input type="checkbox" [checked]="item.is_hidden" disabled>
            </td>
            <td>Edit</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
